<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <modules>
        <Clockworkgeek_Extrarestful>
            <version>0.0.0</version>
        </Clockworkgeek_Extrarestful>
    </modules>

    <global>
        <models>
            <extrarestful>
                <class>Clockworkgeek_Extrarestful_Model</class>
            </extrarestful>
        </models>
    </global>
</config>
